<mat-tab-group>
  <mat-tab label="Formulario 1">
    <button  mat-button > Boton 1 </button>
    <button  mat-button > Boton 2 </button>
    <button  mat-button > Boton 3 </button>
    <button  mat-button > Boton 4 </button>
    <button  mat-button > Boton 5 </button>
    <button  mat-button > Boton 6 </button>

  </mat-tab>

  <mat-tab label="Formulario 2"></mat-tab>

  <mat-tab label="Formulario 3"></mat-tab>
</mat-tab-group>
